<div class="footer">
    <p>Copyright © {{ "now"|date("Y") }} My Website. All rights reserved.</p>
</div>
<footer id="MainFooter">
	<div class="container">
		<div class="row">
			<div class="col-4 footer-col">
				<a href="#" class="footer-logo"
					><img src="{{ file_url(directory ~ '/images/logo_footer.png') }}" alt="STOP Security Tracking" /></a>
				<address>
					<p><span>Security Tracking of Office Property</span><br>
						17 High Street, Norwalk, CT 06851</p>
				</address>
				<p class="footnote">STOP is the only security system that offers theft prevention, equipment recovery and asset management. STOP is the logical, cost-effective choice in equipment protection and tracking. No other identification system offers STOP&rsquo;s patented, chemically etched &ldquo;Stolen Property&rdquo; Tattoo, online registration system and 24/7 toll-free recovery hotline.</p>
			</div>
			<div class="col-4 d-flex justify-content-center footer-col">
				<ul class="nav flex-column footer-nav">
					<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Products</a>
						<ul class="sub-menu">
							<li class="nav-item"><a href="#" class="nav-link">STOP Security Plate</a></li>
							<li class="nav-item"><a href="#" class="nav-link">STOP Small Security Plate</a></li>
							<li class="nav-item"><a href="#" class="nav-link">STOP Lock</a></li>
							<li class="nav-item"><a href="#" class="nav-link">STOP Monitor</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="#" class="nav-link">About</a>
						<ul class="sub-menu">
							<li class="nav-item"><a href="#" class="nav-link">About STOP</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Recovery Stories</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Our Clients</a></li>
							<li class="nav-item"><a href="#" class="nav-link">Testimonials</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="#" class="nav-link">Support</a>
						<ul class="sub-menu">
							<li class="nav-item"><a href="#" class="nav-link">Get Help</a></li>
							<li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
						</ul>
					</li>
					<li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
				</ul>
			</div>
			<div class="col-4 footer-col">
				<p class="hotline-title">Stop Hotline</p>
				<p class="hotline-number">800-488-STOP (7867)</p>
				<div class="account-controls">
					<a href="#" class="btn btn-secondary-outline">My Account</a>
					<a href="#" class="btn btn-secondary-outline">Cart</a>
				</div>
				<ul class="social-nav">
					<li class="linkedin"><a href="#">LinkedIn</a></li>
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
					<li class="youtube"><a href="#">YouTube</a></li>
					<li class="instagram"><a href="#">Instagram</a></li>
					<li class="email"><a href="#">Email</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>