{#
  Template for custom rendering of the "Support" menu.
#}
{% if items %}
  {% for item in items %}
    <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
    {% if item.below %}
      <ul class="sub-menu">
        {% for child in item.below %}
          <li class="nav-item">
            <a class="nav-link" href="{{ child.url }}">{{ child.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}

